services:
  - type: web
    name: chat-backend-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: starter
    envVars:
      - key: APP_NAME
        value: Mazen Maher Chat
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: APP_URL
        sync: false
      - key: LOG_CHANNEL
        value: stack
      - key: LOG_LEVEL
        value: error
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: CACHE_STORE
        value: database
      - key: SESSION_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: database
      - key: BROADCAST_CONNECTION
        value: reverb
      - key: REVERB_APP_ID
        sync: false
      - key: REVERB_APP_KEY
        sync: false
      - key: REVERB_APP_SECRET
        sync: false
      - key: REVERB_HOST
        sync: false
      - key: REVERB_PORT
        value: 443
      - key: REVERB_SCHEME
        value: https
      - key: FRONTEND_URL
        sync: false
    healthCheckPath: /api/user

